# Salin file ini menjadi .env dan isi dengan nilai yang sesuai
# JANGAN commit file .env ke GitHub!

DB_HOST=japan-travel-db.mysql.database.azure.com
DB_USER=admindb
DB_PASSWORD=JapanTravel@2024!
DB_NAME=japantravel
DB_PORT=3306

PORT=8080
